.forget-password-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .forget-password-top-part{
    display: flex;
    flex: 1;
    max-height: 120px;
    margin-top: 5%;
  }
  .Header{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  .logo-part{
    display: flex;
    max-width: 160px;
    flex: 2;
   
  }
  
  .forget-password-content-part{
    display: flex;
    flex: 1;
  }
  
  .forget-password-photo{
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .forget-password-photo img{
      max-width: 75%;
  }
  
  .form-part{
    display: flex;
    flex: 1;
    margin-right: 160px;
    justify-content: center;
    min-height: 360px;
    align-items: center;
  }
  .form{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 250px;
  }
  
  .form label{
    text-align: left;
    margin-bottom: 5px;
  }
  
  .form input{
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    height: 1.75rem;
  }

  .forget-password-inputs{
    min-height: 2.5rem;
    font-size: 17px;
  }

  .form input:hover {
    box-shadow: 0 0 5pt 0.5pt #d3d3d3;
  }
  .form input:focus {
    box-shadow: 0 0 5pt 2pt #d3d3d3;
    outline-width: 0px;
  }
  
  
  .form button{
    background: #1255e7;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    height: 50px;
    font-size: 15px;
  }

  .form button:hover{
    background: #3069e2;
  }
  
  .forget-password-footer-part{
    display: flex;
    flex: 2;
  }