.home-container {
    display: flex;
    flex: 1;
    min-height: 100vh;
  }
  
  .Navbar-Part {
    display: flex;
    flex: 1;
    max-width: 10%;
  }
  
  .home-content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }