.home-container {
    display: flex;
    flex: 1;
    min-height: 100vh;
  }
  
  .Navbar-Part {
    display: flex;
    flex: 1;
    max-width: 10%;
  }
  
  .home-content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .home-content-header{
    display: flex;
    flex: 1;
    max-height: 100px;
    justify-content: center;
    align-items: flex-end;
  }

  .home-description{
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .home-student-description{
    display: flex;
    flex: 1;
    border: 1px solid #d3d3d3;
    margin: 2rem 4rem 2rem 4rem;
    box-shadow: 0 0 5pt 1.5pt #d3d3d3;
  }

  .home-student-description{
    text-align: left;
  }

  .home-student-description h4{
    margin: 1rem 0 1rem 0;
  }

  .home-student-description p{
    font-size: 19px;
    margin: 2rem 5rem 5rem 2rem;
  }


  .home-university-description{
    display: flex;
    flex: 1;
    border: 1px solid #d3d3d3;
    margin: 2rem 4rem 2rem 4rem;
    box-shadow: 0 0 5pt 1.5pt #d3d3d3;
  }

  .home-university-description{
    text-align: left;
  }

  .home-university-description h4{
    margin: 1rem 0 1rem 0;
  }

  .home-university-description p{
    font-size: 19px;
    margin: 2rem 5rem 5rem 2rem;
  }
  