.show-beyan-container {
    display: flex;
    flex: 1;
    min-height: 100vh;
  }
  
  .Navbar-Part {
    display: flex;
    flex: 1;
    max-width: 10%;
  }
  
  .show-beyan-content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .show-beyan-content-logo-part {
    display: flex;
    flex: 1;
    max-height: 150px;
  }
  
  .show-beyan-content-logo {
    display: flex;
    flex: 1;
    margin: 0 0 0 3rem;
  }
  
  .show-beyan-content-logo-img {
    opacity: 0.75;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
  }
  
  .show-beyan-content-form-part {
    display: flex;
    flex: 3;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin: 0 2rem 2rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .show-beyan-content-form-part form {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .show-beyan-form-header {
    display: flex;
    flex: 2 1;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 1rem;
  }
  
  .show-beyan-form-detail-part {
    display: flex;
    flex: 2;
    margin: 3rem 3rem 0 3rem;
  }
  
  .show-beyan-form-detail-part p {
    font-size: 17px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 4px;
  }

  .show-beyan-form-detail-part span {
    font-weight: 800;
    font-size: 17px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 4px;
  }
  
  .show-beyan-desc-inputs {
    height: 30px;
    width: 20%;
    border-radius: 5px;
    border: solid 1.5px #d3d3d3;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
  }
  
  .show-beyan-form-student-inputs {
    display: flex;
    flex: 4;
    flex-direction: column;
  }
  
  .show-beyan-form-student-inputs label {
    margin: 2rem 0 1rem 2rem;
    text-align: left;
    float: left;
  }
  
  .show-beyan-input-part {
    display: flex;
    flex: 1;
    max-height: 75px;
    align-items: center;
  }
  
  .show-beyan-input-part label {
    min-width: 101px;
  }
  
  .show-beyan-input-part span {
    margin: 1rem 0 0 1rem;
    font-weight: 600;
  }

  .show-beyan-content-buttons-part{
      display: flex;
      flex: 1;
  }

  .show-beyan-send-button {
    display: flex;
    flex: 1 1;
    max-height: 2.75rem;
    margin: 4rem;
  }

  .show-beyan-approve{
      display: flex;
      flex: 1;
      max-height: 3rem;
      justify-content: center;

  }

  .show-beyan-reject{
    display: flex;
    flex: 1;
    max-height: 3rem;
    justify-content: center;

}
  